body{
	font-family: 'Titillium Web', sans-serif;
}

p{
	color:#3a3a3a;
}

strong{
	font-weight:700px !important;
}

.container{
	max-width:1140px;
	@media only screen and (max-width: 1280px){
    width: 90%;
	}
}

//menu
.clearMargin{
   transition: background-color .2s;
   transition: padding .5s;
   background-color:$blue;
   padding-top:80px;
   @media (max-width:992px){
		background-color:transparent;
   }
   @media (max-width:600px){
   		padding-top:20px;
   }
}


.addMargin{
	background-color:$blue;
	padding-top:10px;
	padding-bottom:10px;
	@media (max-width:600px){
   		padding-top:20px;
   }
}

.xx{
	@media (max-width:415px){
	width:100% !important;
	}
}

.xm{
	@media (max-width:800px){
		width: 100% !important;
	}
}

.sliding-middle-out {
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
}
.sliding-middle-out:after {
	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
.sliding-middle-out:hover:after {
	width: 100%;
	background: $bluemedium;
}
a.active:after {
	width: 100%;
	background: $bluemedium;
}

nav{
		height:145px;
		font-family: 'Titillium Web', sans-serif;
		@media (max-width:600px){
			height: 120px;
		}
		ul.normal-nav{
			margin-top:10px;
			li{
				padding-right: 40px;
				a{
					text-transform: uppercase;
					letter-spacing: 1.3px;
					font-size: 14.5px;
					line-height: 30px;
					padding:0;
					transition: all .2s linear;
					&:hover{
						background-color:transparent;
					}
					&.active{
						background-color:transparent;
					}
				}
				/*a:after{
					content: "";
				    display: block;
				    height: 3px;
				    width: 100%;
				    background: $bluemedium;
				    margin-top: 2px !important;
				    text-align: center;
				   	zoom: 1; 
    				filter: alpha(opacity=00); 
    				opacity: 0;
    				-webkit-transition: opacity .25s ease-in-out;
				    -moz-transition: opacity .25s ease-in-out;
				    -ms-transition: opacity .25s ease-in-out;
				    -o-transition: opacity .25s ease-in-out;
				    transition: opacity .25s ease-in-out;

				}

				a:hover:after, a.active:after{
					zoom: 1; 
    				filter: alpha(opacity=100); 
    				opacity: 1;
    				left: 10px;
    				right: 20px;
				}*/

			}

			li:nth-child(6){
				padding-right:10px;
				padding-left:10px;
				a {
				background-color:#ff9900;
				padding:5px 20px;
					&:hover{
						background-color:#e78b01;
					}
					&.active{
						background-color:#e78b01;
					}
				}
				a:after{
					display: none;
				}
			}
		}
		img{
			width: 55%;
			@media (max-width:600px){
				width: 40%;
			}
		}
	}

header{
	background:$blue;
	position:fixed;
	z-index:999;
}

.language{
	text-align:right;
	line-height:14px;
	a{
	color:$bluelight;
	}
	@media (max-width:992px){
		text-align:left;
		a{
			color: $bluemedium;
    		border: solid 2px $bluemedium;
    		margin: 0 110px 0 20px;
    		height: 50px;
    		padding-left: 10px;
    		line-height: 45px;
    		&:hover{
    			background-color: $bluemedium;
    			color:white;
    		}
		}
	}
}

.first{
	background-image: url(imgs/eyecatcher.jpg);
	background-repeat:no-repeat;
	height:744px;
	padding-top:260px;
	@media (max-width:992px){
		background-position-y: -110px;
		height: inherit;
	}
	@media (max-width:600px){
		padding-top: 130px;
	}

	article{
		div:nth-child(1){
			padding-top:70px; 
			@media (max-width:992px){
				padding-top:40px;
			}
			@media (max-width:762px){
			}

			h1{
				margin:0;
				font-size: 65px;
    			padding-top: 10px;
				text-transform: uppercase;
				color:white;
				font-weight: 700;
				@media (max-width:992px){
					font-size: 43px;
					padding-top:10px;
				}
				@media (max-width:480px){
					font-size: 30px;
				}
			}
			h2{
				margin:0;
				font-size: 44px;
    			font-weight: 600;
				text-transform: uppercase;
				color:$bluelight;
				margin-top: 40px;
				@media (max-width:992px){
					font-size: 36px;
				}
				@media (max-width:480px){
					font-size: 26px;
				}
			}
			p{
				font-size: 17px;
    			color: white;
    			font-weight: 200;
			}
		}
	}

	
		
	img{
		margin-top:-30px;
		@media (max-width:992px){
		width: 100%;
		}
		@media (max-width:764px){
		width: 90%;
		margin-top:30px;
		text-align: center;
		}
		@media (max-width:600px){
		margin-top:0px;
		margin-left: 15px;
		}	
	}

	.compresor{
		overflow: hidden;
    position: relative;
	}
}
	

.second{
	background-color:white;
	margin:0 auto 70px;
	padding-top:70px;
	@media (max-width:992px){
		padding-top:40px;
	}

	img{
		@media (max-width:1600px){
			margin-left:-60px;
		}
		@media (max-width:1280px){
			margin-left:-40px;
		}

		@media (max-width:992px){
			margin-left:-20px;
			width: 90%;
		}
		@media (max-width:600px){
			margin-left:20px;
		}
	}

	h2{
		background-color: $bluemedium;
	    color: white;
	    margin: 100px auto 5px;
	    width: 250px;
	    padding: 7px 10px;
	    font-size: 33px;
	    font-weight: 600;
	    text-align: center;
	    @media (max-width:992px){
	    	margin:60px auto 5px;
	    }
	    @media (max-width:600px){
	    	margin:10px auto 5px;
	    	font-size: 26px;
    		width: 190px;
	    }
	}
	div.titulos{
		width: 250px;
		margin:0 auto;
		@media (max-width:600px){
    		width: 190px;
	    }
	}
	div.titulos:after{
		content: "";
	    display: block;
	    height: 5px;
	    width: 180px;
	    background: $blue;
	    text-align: center;
	    margin-top:0 auto !important;
	    margin-bottom: 70px;
	    @media (max-width:600px){
	    	margin-bottom: 40px;
	    }
	}

	ul{
		list-style-image: url('imgs/bullet.png');
		@media (max-width:992px){
			margin-left: -30px;
		}
		@media (max-width:600px){
		margin-left: 10%;
		}
		li{
			ul{
				list-style-image: url('imgs/bullet2.png');
				margin-left: 60px;
				@media (max-width:992px){
					margin-left: 30px;
				}
			}
		}
	}
	article{
		.order-div{
		@include flexFlow;
			div:nth-child(1){
				@include order(1);
			}
			div:nth-child(2){
				@include order (2);
			}
			
			@media (max-width:600px){
				div:nth-child(1){
					@include order(2);
				}
				div:nth-child(2){
					@include order(1);
				}
			}

		}

		
	}	

}

.third{
	background-color:#ececec;
	padding-top:50px;
	padding-bottom:60px;	
	@media (max-width:415px){
		padding-bottom:40px;
	}

	h2{
		background-color: $blue;
	    color: white;
	    margin: 70px auto 5px;
	    width: 200px;
	    padding: 7px 10px;
	    font-size: 33px;
	    font-weight: 600;
	    text-align: center;
	    @media (max-width:600px){
			margin:0px auto 5px;
			font-size: 26px;
			width: 180px;
	    }
	}

	p{
		text-align: center;
		height: 70px;
		font-size: 15px;
		strong{
			font-weight:700;
		}
	}

	div.titulos{
		width: 200px;
		margin:0 auto;
		@media (max-width:600px){
			width: 180px;
	    }
	}
	div.titulos:after{
		content: "";
	    display: block;
	    height: 5px;
	    width: 150px;
	    background: $bluemedium;
	    text-align: center;
	    margin-top:0 auto !important;
	    margin-bottom: 60px;
	}

	div.icon{
		background: #009fdd none repeat scroll 0 0;
    	border-radius: 100%;
    	display: table;
    	height: 80px;
    	margin: 0 auto 22px;
    	width: 80px;
    	position: relative;
    	img{
    		width: 48px;
    		padding-top: 2px;
    	}
	}

	div.icon:after{
		border: 6px solid #ccc;
	    border-radius: 500px;
	    content: "";
	    height: 100px;
	    left: -10px !important;
	    opacity: 0;
	    position: absolute;
	    top: -10px !important;
	    transform: scale(1.5);
	    transition: all 0.5s ease 0s;
	    width: 100px;
	    text-align: center;
	    vertical-align: middle;
	}

	div.img-icon{
		display: table-cell;
    	height: 100%;
    	vertical-align: middle;
    	width: 100%;
    	text-align: center;
	}
}

.border-icon:hover .icon::after {
    left: 0;
    opacity: 1;
    top: 0;
    transform: scale(1);
}

.border-icon{
	display: block;
    padding: 22px 20px 39px !important;
    border-right:1px solid white;
    margin-bottom: 20px;
    height: 200px;
    position:relative;
    @media (max-width:415px){
    	border-right:1px solid transparent;
    	margin-bottom: 5px;
    	height: 190px;

    }
}

.border-icon:nth-child(5), .border-icon:nth-child(9){
    border-right:1px solid transparent;
}

@media (max-width:992px){
	.border-icon:nth-child(3), 
	.border-icon:nth-child(7), 
	.border-icon:nth-child(9){
    	border-right:1px solid transparent;
	}
}

.border-icon:after {
    content: "";
    display: block;
    height: .5px;
    width: 86%;
    background: white;
    text-align: center;
    position: absolute;
   @media (max-width:992px){
   	width: 90%;
   }
   @media (max-width:480px){
   	display: none;
   }

 }

 .bor:after{
 	display: none;
 	@media (max-width:992px){
 		display: block;
 	}
 	@media (max-width:480px){
 		display: none;
 	}
 }

 .bor2:after{
 	@media (max-width:992px){
 		display: none !important;
 	}
 	
 }



//sección 4//

.fourth{
	background-color:white;
	padding-top: 100px;
    padding-bottom: 80px;
    @media (max-width:600px){
    	padding-top:50px;
    	padding-bottom: 50px;
    }

	h2{
		background-color: $bluemedium;
	    color: white;
	    margin: 10px auto 5px;
	    width: 320px;
	    padding: 7px 10px;
	    font-size: 33px;
	    font-weight: 600;
	    text-align: center;
	    @media (max-width:600px){
	    	font-size: 26px;
	    	width: 250px;
	    }
	}
	div.titulos{
		width: 320px;
		margin:0 auto;
		@media (max-width:600px){
	    	width: 250px;
	    }
	}
	div.titulos:after{
		content: "";
	    display: block;
	    height: 5px;
	    width: 180px;
	    background: $blue;
	    text-align: center;
	    margin-top:0 auto !important;
	    margin-bottom: 70px;
	    @media (max-width:600px){
	    	margin-bottom: 50px;
	    }
	}
	h3{
		color:$blue;
		text-align: center;
		font-size: 22px;
    	font-weight: 700;
    	margin-bottom: 30px;
	}
	p{
		text-align: center;
		padding: 0 8%;
	}
}

//sección 5//
.fifth{
	background-image: url(imgs/contacto.jpg);
	padding: 90px 0 70px;
	@media (max-width:600px){
		padding:60px 0 40px;
	}

	h2{
		background-color:white;
	    color: $blue;
	    margin: 10px auto 5px;
	    width: 250px;
	    padding: 7px 10px;
	    font-size: 33px;
	    font-weight: 600;
	    text-align: center;
	    @media (max-width:600px){
	    	width: 200px;
	    	font-size: 26px;
	    }
	}
	div.titulos{
		width: 250px;
		margin:0 auto;
		@media (max-width:600px){
	    	width: 200px;
	    }
	}
	div.titulos:after{
		content: "";
	    display: block;
	    height: 5px;
	    width: 180px;
	    background: $bluelight;
	    text-align: center;
	    margin-top:0 auto !important;
	    margin-bottom: 70px;
	}

	button{
		background-color:$bluemedium;
		color:white;
		width: 100%;
		border:4px solid $bluemedium;
		padding:10px 20px  !important;
		text-transform: uppercase;
		font-weight: 600;
    	letter-spacing: 1px;
    	transition: all .2s linear;
		}

	button:hover{
		background-color:transparent;
		color:$bluemedium;
	}

	.contacto{
		padding-left:7%;
		@media (max-width:992px){
			padding-left:2%;
		}
		p:nth-child(1){
			a{
			color:$bluemedium;
			text-decoration: underline;
			font-weight: 300;
			font-size: 18px;
			@media (max-width:600px){
			font-size: 17px;
			}
			}
		}
		p:nth-child(2){
			font-size: 30px;
			color:white;
			font-weight: 200;
			@media (max-width:992px){
			padding-left:2%;
			font-size: 20px;
			}
			@media (max-width:800px){
			padding-left:0%;
			}
			@media (max-width:600px){
			font-size: 17px;
			}
			img{
				width: 38px;
				padding-top:7px;
				@media (max-width:992px){
					padding-top: 0px;
				}
				@media (max-width:600px){
					width: 30px;
				}
			}
		}
		p:nth-child(3){
			color:white;
			font-weight: 300;
			font-size: 18px;
			@media (max-width:600px){
			font-size: 17px;
			}
			img{
				width: 38px;
				@media (max-width:600px){
					width: 33px;
					margin-bottom: 50px;
				}
			}
		}

		img{
			width: 33px;
			float: left;
			margin-right: 20px;
			@media (max-width:600px){
				width: 26px;
			}
		}

	}

	label{
		font-size: 16px;
	}

	form{
		margin-top:10px;

		.tel{
			@media (max-width:600px){
				margin-top: 40px;
			}
		}
	}
}

footer{
	padding:20px 0;
	text-align:center;
	color:#444;
	@media (max-width:768px){
		padding:20px 40px;
	}
}

			


