body{
	font-family: 'Titillium Web', sans-serif;
}

.container{
	max-width:1140px;
	@media only screen and (max-width: 1280px){
    width: 90%;
	}
}

//menu
.clearMargin{
   transition: background-color .2s;
   transition: margin .5s;
   background-color:transparent;
   margin-top:80px;
   }


.addMargin{
	background-color:$blue;
	margin-top:0px;

}



nav{
		height:140px;
		font-family: 'Titillium Web', sans-serif;
		ul{
			margin-top:10px;
			li{
				padding-right: 40px;
				a{
					text-transform: uppercase;
					letter-spacing: 1.3px;
					font-size: 14.5px;
					line-height: 30px;
					padding:0;
					transition: all .2s linear;
					&:hover{
						background-color:transparent;
					}
					&.active{
						background-color:transparent;
					}
				}
				a:after{
					content: "";
				    display: block;
				    height: 3px;
				    width: 100%;
				    background: #CB9500;
				    margin-top: 3px !important;
				    text-align: center;
				    zoom: 1; 
    				filter: alpha(opacity=00); 
    				opacity: 0;
    				-webkit-transition: opacity .25s ease-in-out;
				    -moz-transition: opacity .25s ease-in-out;
				    -ms-transition: opacity .25s ease-in-out;
				    -o-transition: opacity .25s ease-in-out;
				    transition: opacity .25s ease-in-out;

				}

				a:hover:after, a.active:after{
					zoom: 1; 
    				filter: alpha(opacity=100); 
    				opacity: 1;
    				left: 10px;
    				right: 20px;
				}
			}
			li:nth-child(6){
				padding-right:10px;
				padding-left:10px;
				a {
				background-color:orange;
				padding:5px 20px;
					&:hover{
						border-bottom: 0px solid white;
					}
					&.active{
						border-bottom: 0px solid white;
					}
				}
			}
		}
		img{
			width: 55%;
		}
	}

header{
	background:$blue;
	position:fixed;
}

.language{
	text-align:right;
	line-height:14px;
	a{
	color:$bluelight;
	}
}

.first{
	background-image: url(imgs/eyecatcher.jpg);
	background-repeat:no-repeat;
	height:744px;
	padding-top:260px;

	article{
		div:nth-child(1){
			padding-top:70px; 

			h1{
				margin:0;
				font-size: 65px;
    			padding-top: 20px;
				text-transform: uppercase;
				color:white;
				font-weight: 600;
			}
			h2{
				margin:0;
				font-size: 44px;
    			font-weight: 600;
				text-transform: uppercase;
				color:$bluelight;
			}
			p{
				font-size: 17px;
    			color: white;
    			font-weight: 200;
			}
		}
	}
}

.second{
	background-color:white;
	

}

.third{
	background-color:white;
	height:500px;

	div.icon{
		background: #009fdd none repeat scroll 0 0;
    	border-radius: 100%;
    	display: table;
    	height: 71px;
    	margin: 0 auto 22px;
    	width: 71px;
    	position: relative;
    	img{
    		width: 51px;
    	}
	}

	div.icon:after{
		border: 6px solid #1b3545;
	    border-radius: 500px;
	    content: "";
	    height: 83px;
	    left: -6px !important;
	    opacity: 0;
	    position: absolute;
	    top: -6px !important;
	    transform: scale(1.5);
	    transition: all 0.5s ease 0s;
	    width: 83px;
	}
}

.border-icon:hover .icon::after {
    left: 0;
    opacity: 1;
    top: 0;
    transform: scale(1);
}

.fourth{
	background-color:pink;
	height:500px;
}



